<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iubiquity"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal">
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS" />
    <supports-screens
        android:anyDensity="true"></supports-screens>
    <application
        android:icon="@drawable/icon"
        android:label="Spreadsheet Example">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk
        android:minSdkVersion="8"></uses-sdk>
</manifest>